*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    min-width: 100vh;
}

main, section{
    width: 100%;
    height: 100vh;
}

.bar{
    padding: 15px 25px;
    background-color: #009929;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu a{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.iconos{
    display: flex;
    gap: 20px;
}

.hero{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;

}

.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;

}

.info-1 h2{
    font-size: 200px;
    text-shadow: 15px 1pc #fff;
    margin: 10px;
}

.info-1 p{
    font-size: 40px;
    text-shadow: 4px 2px #fff;
    margin: 10px;
}

#button-1{
    padding: 10px 30px;
    background-color: #009929;
    color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 6px 4px #000000;
}

#planta-img{
    width: 500px;
    height: 500px;
    box-shadow: rgba(1, 1, 1, 1) 0px 3px 7px;
    margin: 20px;
}

.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

hr{
    margin: 50px 200px;
    border: #009929 2px solid;
}

.info-2v{
    text-align: end;
}